<h1><%= Edit Reservation details%></h1>
<div class="container">
  <div class= "row justify-content-around">
    <div class="col-6">
      <%= simple_form_for(flat) do |f| %>
        <p><strong>Address:</strong><%= f.input :address %>
        <p><strong>Capacity:</strong> <%= f.input :capacity %>
        <p><strong>Price:</strong><%= f.input :price %>
        <p><strong>Rating:</strong><%= f.input :rating %>
        <p><strong>Facilities:</strong><%= f.input :facilities %>
       <%= f.submit "Edit Reservation", class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>
