<h1> hey this page should display all the flats </h1>
 <p><% @flats.each do |flat| %> </p>
 <p><%= flat.rating %></p>
 <p><%= flat.price %></p>
 <p><%= flat.location %></p>
 <p><%= flat.size %></p>

<%= link_to "Show Details", flat_path(flat) %>
<% end %>
