<div >
  <h1 style="margin-left: 20px; margin-top: 20px;">All your monument just one click away!</h1>
</div>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-md-4">
      <div class="card-trip mb-2 p-3" style="border-radius:10px">
        <%= image_tag "louvre.jpg", width: 200%>
        <div class="card-trip-infos">
          <div>
            <h2 class="mb-2"><%= flat.address%></h2>
            <p><strong>Capacity:</strong><%= flat.capacity %></p>
            <p><strong>Rating</strong> <% flat.rating.times do%>
              <i class="fas fa-star" style="color:gold;"></i>
            <% end %>


            <div>
              <%= link_to "View Details", flat_path(flat), class: "btn btn-primary rounded mt-3"%>
            </div>
            <% if flat.user.photo.nil? %>

          <% else %>
            <%= image_tag flat.user.photo, class: "card-trip-user avatar-bordered" %>
          <% end %>

          </div>
              <div class="price">
                <strong>Price: £</strong><strong><%= flat.price %></strong>
              </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

