<h1> All flats</h1>
 <p><% @flats.each do |flat| %> </p>
 <p><strong>Flat address: </strong><%= flat.address %></p>
 <p><strong>Flat capacity:</strong> <%= flat.capacity %></p>
 <p><strong>Flat price:</strong> <%= flat.price %></p>
 <p><strong>Flat rating:</strong> <%= flat.rating %></p>

<%= link_to "Show Details", flat_path(flat) %>
<% end %>
