<div class="" >
  <h1 style="margin-left: 20px" style="margin-top: 20px">All your monuments
   just one click away!</h1>
</div>

<div class="row">
  <% @flats.each do |flat| %>
  <div class="col-md-4">
    <div class="card-trip mb-2 p-3">
      <%= image_tag "flamingo.jpg", alt: "Bolivian Salt Desert", width: 200%>
      <div class="card-trip-infos">
        <div>

        <h2 class="mb-2"><%= flat.address%></h2>
          <p><strong>Capacity:</strong><%= flat.capacity %></p>

          <p><strong>Rating:</strong><%= flat.rating %></p
          <div>
          <%= link_to "View Details", flat_path(flat), class: "btn btn-primary rounded mt-3"%>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        <div class="price"><strong>Price: GBP</strong><strong><%= flat.price %></strong></p>

        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
