<div class="" >
  <h1>All your monuments - just one click away!</h1>
</div>

<div class="row">
  <% @flats.each do |flat| %>
  <div class="col-md-4">
    <div class="card-trip p-3">
      <%= image_tag "flamingo.jpg", alt: "Bolivian Salt Desert", width: 200%>
      <div class="card-trip-infos">
        <div>
          <h2 class="mb-2"><%= flat.address%></h2>
          <p><strong>Capacity:</strong><%= flat.capacity %></p>
          <p class="card-trip-pricing"><strong>Flat price:</strong><%= flat.price %></p>
          <p><strong>Rating:</strong><%= flat.rating %></p>

          <%= link_to "View Monuments", flat_path(flat), class: "btn btn-primary rounded mt-3"%>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        <div class="price">
          <%= flat.price %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
