
<div >
  <h1 style="margin-left: 20px; margin-top: 20px;">All your monument just one click away!</h1>

</div>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-md-4">
      <div class="card-trip mb-2 p-3">
        <%= image_tag flat.photo, width: 200%>
        <div class="card-trip-infos">
          <div>
            <h2 class="mb-2"><%= flat.address%></h2>
            <p><strong>Capacity:</strong><%= flat.capacity %></p>


            <p><strong>Rating:</strong><%= flat.rating %></p>
            <div>
            <%= link_to "View Details", flat_path(flat), class: "btn btn-primary rounded mt-3"%>
          </div>
          <% if flat.user.photo.nil? %>


          <% else %>
            <%= image_tag flat.user.photo, class: "card-trip-user avatar-bordered" %>
          <% end %>
          <div class="price"><strong>Price: GBP</strong><strong><%= flat.price %></strong></p>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

