<h1>All flats</h1>
  <% @flats.each do |flat| %>
    <p><strong>Flat address: </strong><%= flat.address %></p>
    <p><strong>Flat capacity:</strong><%= flat.capacity %></p>
    <p><strong>Flat price:</strong><%= flat.price %></p>
    <p><strong>Flat rating:</strong><%= flat.rating %></p>

    <%= link_to "View flats", flat_path(flat) %>
  <% end %>
