<div class="t-cardWrap">
  <div class="t-card t-cardLeft">
    <h1>All your Reservations</h1>
        <% @bookings.each do |booking| %>

    <div class="t-title">
      <h2><%= @booking.flat.name %></h2>
    </div>
    <div class="t-name">
      <span>Email</span>
      <h2><%= current_user.email %></h2>

    </div>
    <div class="t-number">
      <strong>From:</strong> <%= @booking.flat.date_from %> <strong>&nbsp&nbspTo:</strong> <%= @booking.flat.date_to %>
      <span></span>
    </div>

  </div>
  <div class="t-card t-cardRight">

    <div class="t-barcode"></div>
  </div>
<% end %>
<%= link_to "All Iconic Stays", flats_path, class: "btn btn-primary rounded mt-5"%>
</div>
