<div class="container">
  <div class= "row justify-content-around" style="margin: 25px">
    <div class="col-md-6">
      <% @bookings.each do |booking| %>
        <div class="t-cardWrap">
          <div class="t-card t-cardLeft">
            <h1>Your Reservation Confirmation</h1>
            <div class="t-title">
              <h2><%= booking.flat.name %></h2>
            </div>
              <div class="t-name">
              <span>Email</span>
              <h2><%= current_user.email %></h2>
            </div>
            <div class="t-number">
              <strong>From:</strong> <%= booking.date_from %> <strong>   To:</strong> <%= booking.date_to %>
              <span></span>
            </div>
          </div>
          <div class="t-card t-cardRight">
            <div class="t-barcode"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to "All Iconic Stays", flats_path, class: "btn btn-primary rounded mt-5"%>
