<!DOCTYPE html>
<html>
  <head>
     <%= render 'shared/navbar' if action_name != "home" %>
     <%= render 'shared/flashes' %>
     <style>
     /*@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');*/
</style>
    <title>Airbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
    <!-- flash messages -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
